<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Url Shortener</title>
  <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
  <style>
    .hero-head .title {
      margin-top: 15px;
    }

    .hero-head .title,
    .hero-head .subtitle {
      margin-left: 20px;
    }
  </style>
</head>
<body>
<section class="hero is-primary is-fullheight is-bold">
  <div class="hero-head">
    <div class="container">
      <h1 class="title">
        <a href="{{rootUrl}}">Url Shortener</a>
      </h1>
      <h2 class="subtitle">
        <a href="{{rootUrl}}">Node</a>
      </h2>
    </div>
  </div>

  {{#if shortenedUrl}}
    <div class="hero-body">
      <div class="container has-text-centered">
        <a href="{{shortenedUrl}}" class="is-size-1">{{shortenedUrl}}</a>
      </div>
    </div>
  {{else}}
    <div class="hero-body">
      <div class="container">
        <div class="columns is-mobile">
          <div class="column is-three-fifths-tablet is-offset-one-fifth-tablet">
            <form action="{{rootUrl}}" method="post">
              <div class="field has-addons">
                <div class="control is-expanded">
                  <input class="input is-medium" type="text" placeholder="Enter a Website Address">
                </div>
                <div class="control">
                  <input type="submit" class="button is-info is-medium">
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  {{/if}}

  <div class="hero-foot">
    <div class="container">
      <nav class="navbar" role="navigation" aria-label="main navigation">
        <a href="https://github.com/azdanov/url-shortener-node" class="navbar-item navbar-end">Github</a>
      </nav>
    </div>
  </div>
</section>
</body>
</html>
