<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Url Shortener</title>
  <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
  <style>
    .hero-head .title {
      margin-top: 15px;
    }

    .hero-head .title,
    .hero-head .subtitle {
      margin-left: 20px;
    }
  </style>
</head>
<body>
<section class="hero is-primary is-fullheight is-bold">
  <div class="hero-head">
    <div class="container">
      <h1 class="title">
        <a href="/">Url Shortener</a>
      </h1>
      <h2 class="subtitle">
        <a href="/">Node</a>
      </h2>
    </div>
  </div>

  <div class="hero-body">
    {{#if error}}
      <div class="container has-text-centered">
        <div class="columns">
          <div class="column">
            <p class="title is-3">{{error}}</p>
          </div>
        </div>
      </div>
    {{else if short_url}}
      <div class="container has-text-centered">
        <div class="columns">
          {{#if original_url}}
            <div class="column is-half">
              <p class="title is-6 has-text-left">Original:</p>
              <p class="subtitle is-3"><a href="{{original_url}}">{{original_url}}</a>
              </p>
            </div>
          {{/if}}
          <div class="column is-half">
            <p class="title is-6 has-text-left">Short:</p>
            <p class="subtitle is-3"><a href="{{short_url}}">{{root_url}}/{{short_url}}</a></p>
          </div>
        </div>
      </div>
    {{else}}
      <div class="container">
        <div class="columns is-mobile">
          <div class="column is-three-fifths-tablet is-offset-one-fifth-tablet">
            <form action="api" method="get">
              <div class="field has-addons">
                <div class="control is-expanded">
                  <input class="input is-medium" name="link" type="text"
                         placeholder="Enter a Website Address" required>
                </div>
                <div class="control">
                  <input type="submit" class="button is-warning is-medium">
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    {{/if}}
  </div>

  <div class="hero-foot">
    <div class="container">
      <nav class="navbar" role="navigation" aria-label="main navigation">
        <a href="https://github.com/azdanov/url-shortener-node" class="navbar-item navbar-end">Github</a>
      </nav>
    </div>
  </div>
</section>
</body>
</html>
